.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
mat-toolbar{
  display: flex;;
  justify-content: space-between;
}
.meni{
  display: flex;
  justify-content: space-between;
}
a{
  margin: 10px;
}
