<div class="container">
  <mat-card>
    <mat-card-title>
      <h3>{{ eventService.getFinishedEventById(1).ime }}</h3>
    </mat-card-title>
    <mat-card-content>
      <mat-card-subtitle>Adress</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(1).adresa }}</span>
          <!-- password -->
          <mat-card-subtitle>Category</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(1).kategorija }}</span>
          <!-- name -->
          <mat-card-subtitle>Description</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(1).opis }}</span>
          <!-- surname -->
          <mat-card-subtitle>Start time</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(1).pocetak }}</span>
          <!-- birthdate -->
          <mat-card-subtitle>End time</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(1).kraj }}</span>
          <!-- address -->
          <mat-card-subtitle>Participants</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(1).ucesnici }}</span>
          <!-- interests -->
          <mat-card-subtitle>Status</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(1).status }}</span>
    </mat-card-content>
    <button mat-raised-button color="accent" (click)="openSlider()">RATE</button>
    <mat-slider
      *ngIf="isRating"
      [displayWith]="formatLabel"
      tickInterval="1"
      min="1"
      max="10"></mat-slider>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <h3>{{ eventService.getFinishedEventById(2).ime }}</h3>
    </mat-card-title>
    <mat-card-content>
      <mat-card-subtitle>Adress</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(2).adresa }}</span>
          <!-- password -->
          <mat-card-subtitle>Category</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(2).kategorija }}</span>
          <!-- name -->
          <mat-card-subtitle>Description</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(2).opis }}</span>
          <!-- surname -->
          <mat-card-subtitle>Start time</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(2).pocetak }}</span>
          <!-- birthdate -->
          <mat-card-subtitle>End time</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(2).kraj }}</span>
          <!-- address -->
          <mat-card-subtitle>Participants</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(2).ucesnici }}</span>
          <!-- interests -->
          <mat-card-subtitle>Status</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(2).status }}</span>
    </mat-card-content>
    <button mat-raised-button color="accent" (click)="openSlider()">RATE</button>
    <mat-slider
      *ngIf="isRating"
      [displayWith]="formatLabel"
      tickInterval="1"
      min="1"
      max="10"></mat-slider>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <h3>{{ eventService.getFinishedEventById(3).ime }}</h3>
    </mat-card-title>
    <mat-card-content>
      <mat-card-subtitle>Adress</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(3).adresa }}</span>
          <!-- password -->
          <mat-card-subtitle>Category</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(3).kategorija }}</span>
          <!-- name -->
          <mat-card-subtitle>Description</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(3).opis }}</span>
          <!-- surname -->
          <mat-card-subtitle>Start time</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(3).pocetak }}</span>
          <!-- birthdate -->
          <mat-card-subtitle>End time</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(3).kraj }}</span>
          <!-- address -->
          <mat-card-subtitle>Participants</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(3).ucesnici }}</span>
          <!-- interests -->
          <mat-card-subtitle>Status</mat-card-subtitle>
          <span class="element">{{ eventService.getFinishedEventById(3).status }}</span>
    </mat-card-content>
    <button mat-raised-button color="accent" (click)="openSlider()">RATE</button>
    <mat-slider
      *ngIf="isRating"
      [displayWith]="formatLabel"
      tickInterval="1"
      min="1"
      max="10"></mat-slider>
  </mat-card>
</div>
