.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
mat-card{
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signupForma{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
mat-form-field{
  margin-bottom: 10px;
}
button{
  margin-bottom: 10px;
}
mat-label{
  font-family: Roboto;
  font-style: unset;
  color: red;
}
