.container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
mat-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
mat-card-content{
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
}
mat-card-subtitle{
  margin-bottom: 5px;
}
.element{
  font-family: Roboto;
  margin-bottom: 25px;
}
